/.DS_Store
/.ipynb_checkpoints
/API
/Advanced Regression
/Coursera
/DateTime Module
/Fiszki
/Praca Magisterska
/PySpark
/Python Data Mining
/RainApp
/Srodowisko
/Streamlit_Course
/Studia
/TriviaQuizApp